@media(max-width:500px){
    .patro1{
    height: 100%;
    width: 33%;
    background: url('../assets/img/logo\ aula\ universitaria.png') no-repeat center;
    background-size: 120px;
    }
    .patro2{
        height: 100%;
        width: 33%;
        background: url('../assets/img/logo\ el\ cantero\ de\ letur.png') no-repeat center;
        background-size: 120px;
    }
    .patro3{
        height: 100%;
        width: 33%;
        background: url('../assets/img/logo ortoprono.png') no-repeat center;
        background-size: 120px;
    }
    .footer {
        left: 0;
        bottom: 0px;
        width: 100%;
        background-image: -webkit-gradient(linear, left top, right bottom, from(#636363), color-stop(#525252), color-stop(#424242), color-stop(#323232), to(#232323));
        background-image: -webkit-linear-gradient(left top, #636363, #525252, #424242, #323232, #232323);
        background-image: -o-linear-gradient(left top, #636363, #525252, #424242, #323232, #232323);
        background-image: linear-gradient(to right bottom, #636363, #525252, #424242, #323232, #232323);
        height: auto;
        display: -ms-flexbox;
        display: flex;
        padding-top: 20px;
        /* box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4); */
        -ms-flex-direction: column;
        flex-direction: column;
        color: #fff;
    }
}

@media(min-width:500px){
@media(max-width:800px){
    .patro1{
    height: 100%;
    width: 33%;
    background: url('../assets/img/logo\ aula\ universitaria.png') no-repeat center;
    background-size: 200px;
    }
    .patro2{
        height: 100%;
        width: 33%;
        background: url('../assets/img/logo\ el\ cantero\ de\ letur.png') no-repeat center;
        background-size: 200px;
    }
    .patro3{
        height: 100%;
        width: 33%;
        background: url('../assets/img/logo ortoprono.png') no-repeat center;
        background-size: 200px;
    }
    .footer {
        left: 0;
        bottom: 0px;
        width: 100%;
        background-image: -webkit-gradient(linear, left top, right bottom, from(#636363), color-stop(#525252), color-stop(#424242), color-stop(#323232), to(#232323));
        background-image: -webkit-linear-gradient(left top, #636363, #525252, #424242, #323232, #232323);
        background-image: -o-linear-gradient(left top, #636363, #525252, #424242, #323232, #232323);
        background-image: linear-gradient(to right bottom, #636363, #525252, #424242, #323232, #232323);
        height: auto;
        /* height: 300px; */
        padding-top: 20px;
        display: -ms-flexbox;
        display: flex;
        /* box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4); */
        -ms-flex-direction: column;
        flex-direction: column;
        color: #fff;
    }
}

@media(max-width:1500){
    .imgContacto{
        height: 10px;
        width: 10px;
        background: url('../assets/img/Logo_Principal_A_contracorrent.png')center no-repeat;
        background-size: 0%;
    }
}

@media(min-width:1500){
    .imgContacto{
        height: 100px;
        width: 350px;
        background: url('../assets/img/Logo_Principal_A_contracorrent.png')center no-repeat;
        background-size: cover;
    }
}

@media(min-width:800px){
    .patro1{
        height: 100%;
        width: 33%;
        background: url('../assets/img/logo\ aula\ universitaria.png') no-repeat center;
        background-size: 250px;
    }
    .patro2{
            height: 100%;
            width: 33%;
            background: url('../assets/img/logo\ el\ cantero\ de\ letur.png') no-repeat center;
            background-size: 300px;
    }
    .patro3{
            height: 100%;
            width: 33%;
            background: url('../assets/img/logo ortoprono.png') no-repeat center;
            background-size: 300px;
    }
    .footer {
        left: 0;
        bottom: 0px;
        width: 100%;
        background-image: -webkit-gradient(linear, left top, right bottom, from(#636363), color-stop(#525252), color-stop(#424242), color-stop(#323232), to(#232323));
        background-image: -webkit-linear-gradient(left top, #636363, #525252, #424242, #323232, #232323);
        background-image: -o-linear-gradient(left top, #636363, #525252, #424242, #323232, #232323);
        background-image: linear-gradient(to right bottom, #636363, #525252, #424242, #323232, #232323);
        height: auto;
        /* height: 300px; */
        padding-top: 20px;
        display: -ms-flexbox;
        display: flex;
        /* box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4); */
        -ms-flex-direction: column;
        flex-direction: column;
        color: #fff;
    }
}
}

.zonaContacto{
    height: auto;
    width: 100%;
    background-color: #232323;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.tituloContacto{
    display: flex;
    /* justify-content:  */
    letter-spacing: 8px;
    font-size: 1.2em;
}

.tituloAgradecimientos{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    letter-spacing: 8px;
}

.datosContacto{
    width: 100%;
    font-size: 1.1em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.bloqueContacto{
    height: auto;
    width: 100%;
    padding: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    color: #fff;
}


.zonaAgradecimientos{
    height: 100%;
    width: auto;
}

.zonaPatrocinadores{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

/* .patro1{
    height: 100%;
    width: 33%;
    background: url('../assets/img/logo\ aula\ universitaria.png') no-repeat center;
    background-size: 300px;
}
.patro2{
    height: 100%;
    width: 33%;
    background: url('../assets/img/logo\ el\ cantero\ de\ letur.png') no-repeat center;
    background-size: 300px;
}
.patro3{
    height: 100%;
    width: 33%;
    background: url('../assets/img/logo ortoprono.png') no-repeat center;
    background-size: 300px;
} */

.colaboradoresTitle{
    color: #fff;
}

.agradecimientos{
    width: 100%;
    /* background-color: #fff; */
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 10px;
}

.fotterZonaText{
    width: 100%;
    height: 50px;
    display: flex;
    color: #fff;    
}

.paux{
    width: 33%;
}

.contacto{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10px;
}