:root{
  --mainColor : #c2e76b;
  --secondColor : #e88697;
  --topBar: rgba(99, 99, 99, 0.8);
  --auxiliarColor: #636363;
  --auxiliarColorHover: hsla(0, 0%, 71%, 0.569);
  --overlay: rgba(0, 0, 0, 0.6);
  --menu:rgba(99, 99, 99, 0.9);
}

@font-face{
  font-family: 'Gotham';
  scr: url('../assets/fonts/gotham.otf');
}
@font-face{
  font-family: 'Raleway';
  scr: url('../assets/fonts/Raleway-Black.ttf');
}


body {
  margin: 0;
  padding: 0;
  font-family: Raleway;
}


::-webkit-scrollbar {
  width: 5px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  background: #888;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}


