@media (max-width: 1000px) {
    .marcoMenu{
        height: 100%;
        width: 100%;
        min-width: 512px;
        background-color: var(--auxiliarColor);
        position: fixed;
        top: 0;
        left: 0%;
        z-index: 100;
        padding: 20px;
        transition: 1s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .imgMenu{
        height: 100%;
        width: 0%;
        /* background-color: var(--auxiliarColor); */
        background: url(../assets/img/football-605289.jpg) center no-repeat;
        background-size: cover;
        position: fixed;
        top: 0;
        left: 50%;
        left: 0%;
        z-index: 100;
        transition: 1s;
    }
}

@media (min-width: 1000px){
.marcoMenu{
    height: 100%;
    width: 50%;
    min-width: 512px;
    background-color: var(--auxiliarColor);
    position: fixed;
    top: 0;
    left: 100%;
    left: 50%;
    z-index: 100;
    padding: 20px;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.imgMenu{
    height: 100%;
    width: 50%;
    /* background-color: var(--auxiliarColor); */
    background: url(../assets/img/football-605289.jpg) center no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 50%;
    left: 0%;
    z-index: 100;
    transition: 1s;
}
}



.cerrarMenu{
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-size: 48px;
}

.iconoCerrar{
    margin-right: 50px;
    height: 48px;
    width: 48px;
    background: url(../assets/icons/cancel.svg) no-repeat right;
    background-size: 48px;
    cursor: pointer;
    transition: 0.3s;
    transform: rotate(0deg);
}
.logoManu{
    /* margin-right: 50px; */
    height: 100px;
    width:100px;
    background: url(../assets/img/logoAsocioacion.png) no-repeat center;
    background-size: 100px;
    transition: 0.3s;
}

.marcoLogoMenu{
    width: 148px;;
    height: 148px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.iconoCerrar:hover{
    transform: rotate(180deg);
}

.navegacion{
    width: 100%;
    height: 60%;
    /* background-color: aquamarine; */
    display: flex;  
    /* flex-direction: ; */
    justify-content: flex-start;
    align-items: center;
}

.optNav,
.optNavDrop{
    display: flex;
    width: 100px;;
    font-size: 3em;
    font-weight: bolder;
    font-family: 'Amatic SC';
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.optNav:hover{
    color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}
.optDropActividades{
    display: flex;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Amatic SC';
    font-size: 2.5em;
    font-weight: bolder;
    cursor: pointer;
    flex-direction: row;
}
.optDropActividades:hover > .franjaMenu{
    width:100%;
}

.franjaMenu{
    background-color: #e88697;
    height: 100%;
    width: 0%;
    transition: 0.3s;
    display: flex;
}

.optNavTitulo{
    width: 350px;
}


.redesSociales{
    height: 20%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dropActividades{
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
    height: auto;
    width: 300px;
    /* background-color: #fff; */
    transition: 0.3s;
    font-size: 0.8em;
    color: #fff;
    flex-direction: column;
}


.optNavDrop:hover > .dropActividades{
    height: auto;
    color: #fff;
}

.zonaOpcionesMenu{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* background-color: #e88697; */
}

.zonaOptDropMenu{
    opacity: 0;
    height: auto;
    width: 30%;
    padding: 30px;
    background-color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
}

.selectLineMenu{
    /* position: fixed; */
    width: 2px;
    height: 244px;
    background-color: var(--auxiliarColor);
    display: flex;
    margin-right: 10px;
    transition: 0.3s;
}

.identSelectMenu{
    margin-top: 0px;
    width: 2px;
    height: 61px;
    background-color: var(--mainColor);
    align-self: flex-start;
    transition: 0.3s;
}