.marcoPrincipal{
    height: auto;
    width: 100%;
    /* overflow-y: scroll; */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin-top: 50px;
    margin-bottom: 100px;
}

.zonaPosts{
    margin-top: 50px;
    width: 95%;
    height: auto;
    /* background-color: aqua; */
    margin-bottom: 250px;
    display: flex;
    flex-direction: column;
}

.infoInicial,
.infoInicialVoluntario{
    margin-top: 40px;
    width: 50%;
    /* min-width: 550px; */
    padding: 10px;
    text-align: center;
    font-family: 'Amatic SC',
    cursive;
    font-size: 2em;
    font-weight: 500;
}

.post{
    height: 300px;
    width: 500px;
    background: url('../assets/img/noticia1.jpeg') no-repeat center;
    background-size: 100%;
}
.post2{
    height: 345px;
    width: 500px;
    background: url('../assets/img/notifica2.jpeg') no-repeat center;
    background-size: 100%;
}

.marcoPosts{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px;
}

.tituloZonaPost{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    /* background-color: yellowgreen; */
    font-size: 2.5em;
    letter-spacing: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: var(--auxiliarColor);
}

.overlayPost{
    padding: 5px;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    background-color: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: 0.3s;
    color: #fff;
}
.overlayPost:hover{
    background-color: var(--overlay);
}

.bloqueInfoPost{
    margin-top: 15px;
    transition: 0.3s;
    font-size: 1.2em;        
}

.tituloPost{
    letter-spacing: 10px;
    transition: 0.3s;
    font-size: 1.5em;    
}

.hr{
    margin-left: 100px;
    margin-right: 100px;
    width: 90%;
    border-bottom: 2px solid #636363;
}

.zonaContacto{
    width: 80%;
    height: auto;
    /* background-color: yellowgreen; */

}

.zonaVista{
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px; 
    width: 100%;
    background-color: #e0e0e0;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    flex-wrap: wrap;
}

.mision,
.vision,
.valores{
    width: 360px;
    height: 360px;
    color: #fff;
    font-family: 'Amatic SC';
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    transform: rotate(0deg);
    transition: transform 1s;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.mision.is-fliped{
    /* transform: rotateY(180deg); */
    transform: translateX(-100%) rotateY(-180deg);
}

.face {
  backface-visibility: hidden;
}

.backVision, .backValores, .backMision{
    transform: rotateY( 180deg );
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}



.valores{
    background-color: var(--mainColor);
    color: var(--auxiliarColor);
}

.misionTitulo{
    font-size: 4em;
    height: 0%;
    width: 80%;
    /* background-color: rgb(140, 0, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1d1d1d;
    font-weight: bolder;
}

.misionText{
    margin-top: 55px;
    font-size: 2.5em;
    height: 100%;
    width: 80%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    transition: 0s;
}

.marcoVision{
    height: 360px;
    width: 360px;
    padding: 20px;
}


.marcoVision:hover .vision, .marcoVision.hover .vision {
	transform: rotateY(180deg);
}

.marcoVision, .frontVision, .backVision, .frontValores, .backValores, .frontMision, .backMision{
	width: 380px;
    height: 380px;
    border-radius: 50%;
}

.vision {
	transition: 1s;
	transform-style: preserve-3d;

	position: relative;
}

.frontVision, .backVision, .frontValores, .backValores, .frontMision, .backMision {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.frontVision {
    background-color: var(--secondColor);
    color: var(--auxiliarColor);
	z-index: 2;
    transform: rotateY(0deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.frontValores {
    background-color: var(--auxiliarColor);
    color: #fff;
	z-index: 2;
    transform: rotateY(0deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.frontMision {
    background-color: var(--mainColor);
    color: var(--auxiliarColor);
	z-index: 2;
    transform: rotateY(0deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backVision {
    transform: rotateY(180deg);
    background: url(../assets/img/logoAsocioacion.png) no-repeat center;
    background-size: cover;
}
.backValores {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    color: #636363;
    font-family: 'Amatic SC';
    text-align: center;
}
.backMision {
    transform: rotateY(180deg);
    background: url(../assets/img/Negre_Escut_Fútbol_A_contracorrent.png) no-repeat center;
    background-size: cover;
}


