.marcoVerde,
.marcoRosa{
    height: 350px;
    width: 350px;
    background-color: var(--mainColor);
    display: flex;
    /* align-self: flex-start; */
    color: var(--auxColor);
    font-family: 'Amatic SC';
    font-size: 3em;
    padding: 10px;
    flex-direction: column;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.marcoRosa{
    background-color: var(--secondColor);
    justify-content: space-around;
    align-items: center;
}

.tituloMarcoVerde{
    height: 0%;
    margin-top: -50px;
    font-weight: bolder;
    font-size: 2em;
    color: black;
}
.tituloMarcoRosa{
    height: 0%;
    margin-top: -50px;
    font-weight: bolder;
    color: black;
}

.infoMarcoVerde{
    margin-top: 60px;
    width: 100%;
    height: 80%;
    font-size: 0.8em;
    /* background-color: rgb(108, 143, 143); */
    display: flex;
    align-items: flex-end;
    text-align: center;
}

.resaltarMarcoVerde{
    font-size: 0.9em;
    font-weight: bolder;
}

.resaltarMarcoRosa{
    font-size: 4em;
    font-weight: bolder;
    color: black;
}

.zonaMarcosSocios{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.resaltarInformateSocio{
    font-size: 4em;
    font-family: 'Amatic SC';
}


.socioParalax{
    /* The image used */
    background-image: url("../assets/img/socio.png");
    /* Set a specific height */
    min-height: 500px; 
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}